@model DAS.Models.DocumentModels1

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DocumentModels1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cips)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cips)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.citizenship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.citizenship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crimerecord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crimerecord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identityNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identityNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.streetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.streetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantoon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantoon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
